
// $primary-color: #0d5e96;
$primary-color: rgb(7, 118, 178);
$secondary-color: #000;
$secondary-bg-color:#ececee;
$footer-color: #2e2e2e;
$red-color: #E81C3C;
$green-color:#A8CE13;

$over-color: #fff;

$border-color:#848484;